/* width */
.width322{
    width: 322px;
}

.width600{
    width: 600px;
}

.width70{
    width: 70px !important;
}

.width111{
    width: 111px !important;
}

.width262{
    width: 262px;
}

.compare-table .width230{
    position:relative;
    position:relative;
    margin:0 auto;
    width: 230px;
}

.width475{
    width: 475px;
}

.width271{
    width: 271px !important;
}

.width92{
    width: 92px !important;
}

.width193{
    width: 193px !important;
}

.width728px{
    width: 728px !important;
}

.width172{
    width: 172px !important;
}

.width200{
    width: 200px !important;
}

.width240{
    width: 240px !important;
}

.width50{
    width: 50px !important;
}

.width70{
    width: 70px !important;
}

.width428{
    width: 428px !important;
}

.width92{
    width: 92px !important;
}

.width282{
    width: 282px !important;
}

.width390{
    width: 390px !important;
}

.width380{
    width: 380px !important;
}

.width174{
    width: 174px !important;
}

.width114{
    width: 114px !important;
}

.width212{
    width: 212px !important;
}

.width230{
    width: 230px !important;
}

.width250{
    width: 250px !important;
}

.width183{
    width: 183px !important;
}

.width160{
    width: 160px !important;
}

.width130{
    width: 130px !important;
}

.width680{
    width: 680px !important;
}

.width105{
    width: 105px !important;
}

.width150{
    width: 150px !important;
}

.width120{
    width: 120px !important;
}

.width754{
    width: 754px !important;
}

.width40{
    width: 40px;
}

.width30{
    width: 30px;
}

.width236{
    width: 236px !important;
}

.width226{
    width: 226px !important;
}

.width190{
    width: 190px !important;
}

.width180 {
    width: 180px !important;
}


.width282{
    width: 282px !important;
}

.width152{
    width: 152px !important;
}

.width542 {
    width: 542px !important;
}

.width710{
    width: 710px;
}

.width665{
    width: 665px !important;
}

.width215{
    width: 215px !important;
}

.width635{
    width: 635px !important;
}

.width285{
    width: 285px !important;
}

.width265{
    width: 265px !important;
}

.width267{
    width: 267px !important;
}

.width315{
    width: 315px !important;
}

.width656{
    width: 666px !important;
}

.width284{
    width: 284px !important;
}

.width720{
    width: 720px !important;
}

.width364{
    width: 364px !important;
}

.width-auto{
    width:auto !important;
}

.fl-left{
    float:left !important;
}

.fl-right{
    float:right !important;
}

.fl-none{
    float:none;
}

.margin-b0{
    margin-bottom: 0 !important;
}

.margin-b23{
    margin-bottom: 23px !important;
}

.margin-l28{
    margin-left: 28px !important;
}

.margin-l128{
    margin-left:128px !important;
}

.ta-center{
    padding:0 !important;
    text-align:center;
}

.ta-right{
    text-align:right !important;
}

.pl0{
    padding-left: 0 !important;
}

.pl-10{
    padding-left: 10px !important;
}

.pl-30{
    padding-left: 30px !important;
}

.bdr-0{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.bg-transparent{
    background: transparent !important;
}

.mb-10{
    margin-bottom:10px !important;
}
.ml-185{
    margin-left: 185px !important;
    width:auto !important;
}

.colorRows{
    background-color:#e5e5e5;
}

.text-red{
    color:#de1111 !important;
}

hr.line{
    margin: 25px 74px !important;
    height: 1px;
    border: none;
    background: #bdbdbd;
    color: #bdbdbd;
}

.zIndex999{
    z-index: 999 !important;
}